.nav__container{
    background: var(--bg-primary);
}

.nav__hamburguer{
    display: none;
}

.nav__hamburguer label{
    width: 30px;
    height: 30px;
    transition: all .3s linear;
    background: #8A1964;
    display: inherit;
    border-radius: 5px;
    padding: 5px;
}

#hamburguer__check{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: -15px;
    z-index: -1;
}

.hamburguer__content{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburguer__line{
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 16px;
    left: 4px;
}

.hamburguer__line:before{
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: white;
    position: absolute;
    bottom: -10px;
    content: "";
}

.hamburguer__line:after{
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: white;
    position: absolute;
    bottom: 10px;
    content: "";
}

#hamburguer__check:checked ~ .hamburguer__line{
    background: transparent;
}

#hamburguer__check:checked ~ .hamburguer__line:before{
    transform: translate(0px, -10px) rotate(-45deg);
}

#hamburguer__check:checked ~ .hamburguer__line:after{
    transform: translate(0px, 10px) rotate(45deg);
}

.nav__itens{
    color: var(--txt-color);
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 3px solid var(--bg-secondary);

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.nav__item a{
    color: var(--txt-primary);
    transition: color 1s;
}

.nav__item a:hover{
    color: var(--bg-secondary);
    transition: color 0.5s;
}

@media(max-width: 360px){
    .nav__hamburguer{
        display: inline;
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .nav__container{
        position: absolute;
        left: -138px;
        top: 44px;
        transition: left 1.5s;
        z-index: 4;
    }

    .nav__itens {
        display: inherit;
    }

    #hamburguer__check:checked ~ .nav__container{
        left: -25px;
        transition: left 1.5s;
    }
}